/*Estilos globales del mini cart*/
:global(.vtex-store-icons-0-x-cartIcon){
    display: none;
}

.minicartIconContainer::after{
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("/arquivos/cart.svg");
    background-repeat: no-repeat;

}
/*ESTILOS CARDS - MIN CART*/
.paragraph--global__miniCart-summaryPurchase-text{
    color: red
}

/*style mini cart empty*/
.minicartEmptyStateContainer--global__miniCart--empty{
    justify-content: space-between;
}

.closeIconContainer::before{
    content: "";
    width: 50px;
    height: 25px;
    background-image: url(/arquivos/IconITG.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.overlay--visible{
    backdrop-filter: blur(12px);             
    -webkit-backdrop-filter: blur(12px);     
    background-color: #1D27341A;
    opacity: 0.9 !important;
}

/*Style mobile*/
@media (max-width: 1024px) {
    .closeIconContainer{
        max-width: none;
    }
}
