:global(.vtex-sticky-layout-0-x-container--sticky-header){
    background: white;
}
.flexRow--desktop__header--wrapper-menu{
    max-width: 1136px;
    margin: auto;
    height: 56px;
    display: flex;
    align-items: center;

}
.flexRowContent--desktop__header--wrapper-menu{
    gap: 58px;
}
.flexRowContent--desktop__header--wrapper-menu .stretchChildrenWidth{
    margin: 0;
}
.flexRowContent--global__header-menu--wraperRow-items{
    display: flex;
    align-items: center;
    gap: 13px;
}

.flexRowContent--desktop__header-menu--wrapperRow-logos-search{
    display: flex;
    align-items: center;
    gap: 12px !important;
}
/*search*/

.flexRowContent--desktop__header--wrapper-menu :global(.vtex-input-prefix__group){
    border-radius: 100px;
}
.flexRowContent--desktop__header-menu--wrapperRow-logos-search :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    margin: 0px;
}
.flexRowContent--desktop__header--wrapper-menu :global(.vtex-store-components-3-x-searchBarContainer){
    width: 280px;
    height: 40px;
    padding: 0px;
}
.flexRowContent--desktop__header--wrapper-menu :global(.vtex-styleguide-9-x-input){
    background-color: #F0EFF2 ;
    color: black;
}
.flexRowContent--desktop__header--wrapper-menu :global(.vtex-input__suffix){
    background-color: #F0EFF2;
    color: black;
}

/*STYLE MINICART LOGIN*/
.flexRow--global__header-main--wrapperRow-minCart-login{
    display: flex;
    align-items: center;
}
.flexRowContent--global__header-main--wrapperRow-minCart-login :global(.vtex-button){
    min-height: auto;
}
.flexRowContent--global__header-main--wrapperRow-minCart-login :global(.vtex-minicart-2-x-openIconContainer){
    padding: 0;
}
.flexRowContent--global__header-main--wrapperRow-minCart-login :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    margin: 0;
}

.flexRowContent--global__header-menu--wraperRow-items :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    margin: 0;
}
.flexRowContent--desktop__header--wrapper-menu :global(.vtex-flex-layout-0-x-flexColChild){
    display: flex;
    align-items: center;
}
.flexCol--desktop__header-menu--wrapperCol-items-cart-login{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

/*Style mobile*/
@media (max-width: 1024px) {
    :global(.vtex-sticky-layout-0-x-container){
        background: rgb(255, 255, 255);
    }
    .flexRow--desktop__header--wrapper-menu{
        max-width: 100vw !important;
        width: 100vw !important;
        margin: 0 !important;
        height: 72px;
        border: 1px solid red;
        padding: 0 16px;
    }
    .flexRowContent--desktop__header--wrapper-menu{
        gap: 120px;
    }
    .flexRowContent--desktop__header-menu--wrapperRow-logos-search{
        gap: 8px !important;
    }
    
    /*STYLE MINICART LOGIN*/
 
    .flexCol--desktop__header-menu--wrapperCol-items-cart-login{

        gap: 8px !important;
    }
    

}