.menuContainerNav--homeMenuStyle__container{
    display: flex;
    align-items: center;
}

.styledLinkContent--menuDesktop__item{
    font-family: "Lexend", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1D2734;
}

.menuItem--menuDesktop__item:hover{
    border-bottom: 2px solid black;
}

.styledLinkContainer--menuDesktop__item{
    margin: 0;
}