.menuContainerNav--homeMenuStyle__container{
    border: 2px solid red;
    display: flex;
    align-items: center;
}

.styledLinkContent--menuDesktop__item{
    font-family: "Lexend", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1D2734;
}

.menuItem--menuDesktop__item:hover{
    border-bottom: 2px solid black;

}
/*

:global(.vtex-styleguide-9-x-input){
    font-size: 0px;
    color: black;
}

:global(.vtex-styleguide-9-x-input)::after{
    content: "Login";
    font-size: 16px;
    text-transform: capitalize;
    color: red;  
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 0%;
}
*/
.styledLinkContainer--menuDesktop__item{
    margin: 0;
}