.menuContainerNav--desktop__header--wrapper-menu{
    display: flex;
    align-items: center;
}

.styledLinkContent--global__header-main--all-item{
    font-family: "Lexend", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1D2734;
}

.menuItem--global__header-main--all-item:hover{
    border-bottom: 2px solid black;
}

.styledLinkContainer--global__header-main--all-item{
    margin: 0;
}