/*Cambiar icono del mega.menu*/
.triggerButtonIcon {
    display: none;
}

.triggerContainer::after{
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("/arquivos/hpa-hamburguer-menu.svg");
  
}


