.flexRow--container__pdp__style{
    max-width: 1136px;
    margin: auto ;
   /* border: 2px solid red */;
}

.flexColChild--pdp__imagen :global(.vtex-store-components-3-x-productImage){

    border-radius: 4px;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
}

.flexColChild--pdp__imagen :global(.vtex-store-components-3-x-carouselGaleryThumbs)
{
    width: 92px !important;
    display: flex;
    justify-content: center;
    
}

.flexColChild--pdp__imagen :global(.vtex-store-components-3-x-figure){
    border-radius: 4px;
    border: 1px solid #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColChild--pdp__imagen :global(.vtex-store-components-3-x-caretIcon){
    display: none;
}

/*PDP information*/

.flexColChild--pdp__information :global(.vtex-store-components-3-x-productNameContainer){
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 16.8px;
    letter-spacing: 0px;
    color: #1D2734;

}
.flexCol--pdp__information :global(.vtex-product-price-1-x-currencyContainer){
    font-family: "Lexend", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 16.8px;
    letter-spacing: 0px;
    color: #1D2734;
}

.flexRowContent--quantity__miniCart--style{
    /*border: 2px solid yellow;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flexColChild--pdp__information :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: 145px;
    /*border:2px solid green*/
}
.flexRowContent--quantity__miniCart--style :global(.vtex-product-quantity-1-x-quantitySelectorContainer){
    padding: 0;
    margin: 0;
}
.flexRowContent--quantity__miniCart--style :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    padding: 0;
}

.flexColChild--pdp__information :global(.vtex-product-quantity-1-x-quantitySelectorTitle){
    display: none;
}
.flexColChild--pdp__information :global(.vtex-numeric-stepper-container){
    border-radius: 0px;
}
.flexRowContent--quantity__miniCart--style :global(.vtex-button){
    width: 312px !important;
    height: 48px !important;
}

/*BOTONES QUANTITY*/
.flexRowContent--quantity__miniCart--style :global(.vtex-numeric-stepper__minus-button__text){
    display: none !important;
}
.flexRowContent--quantity__miniCart--style :global(.vtex-numeric-stepper__minus-button)::after{
    content: "";
    display: inline-block;
    width: 40px;
    height:42px;
    background-image: url("/arquivos/Frame 7277.svg");

}
.flexRowContent--quantity__miniCart--style :global(.vtex-numeric-stepper__plus-button__text){
    display: none !important;
}
.flexRowContent--quantity__miniCart--style :global(.vtex-numeric-stepper__plus-button)::after{
    content: "";
    display: inline-block;
    width: 40px;
    height:42px;
    background-image: url("/arquivos/Frame 7278.svg");

}

.flexColChild--pdp__information :global(.vtex-store-components-3-x-shareLabel){
    font-size: 0;
}
.flexColChild--pdp__information :global(.vtex-store-components-3-x-shareLabel)::after{
    content: "Share";
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16.8px;
    letter-spacing: 0px;
    color: #1D2734;
}
/*ESPECIFICACIONES DEL PRODUCTO*/
.flexRow--especifition__style__pdp{
    max-width: 1136px;
    margin: auto;

}
.flexRowContent--especifition__style__pdp :global(.vtex-store-components-3-x-specificationsTitle){
    font-size: 0;
}
.flexRowContent--especifition__style__pdp :global(.vtex-store-components-3-x-specificationsTitle)::after{
    content: "Especificaciones del producto";
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16.8px;
    letter-spacing: 0px;
    color: #1D2734;
    
}
/*estilos solo a las filas impares*/
.flexRowContent--especifition__style__pdp :global(.vtex-store-components-3-x-specificationsTableRow):nth-child(odd){
    background: #e7e7e7 !important;
}

.flexRowContent--especifition__style__pdp :global(.vtex-store-components-3-x-specificationsTableHead){
    display: none;
}
.flexRowContent--especifition__style__pdp :global(.vtex-store-components-3-x-specificationItemProperty){
    font-family: "Lexend", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0px;
    color: #1D2734;
}

.flexRowContent--especifition__style__pdp :global(.vtex-store-components-3-x-specificationItemSpecifications){
    font-family: "Lexend", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.8px;
    letter-spacing: 0px;
    color: #1D2734;
}
