/*styles rich-text card*/
.container--card__information--title{
    font-family: lexend;
    font-weight: 600;
    font-size: 16px;
    line-height: 24.88px;
    letter-spacing: 0;

}
.container--card__information--description{
    font-family: Lexend;
    font-weight: 300;
    font-size: 12px;
    line-height: 14.52px;
    letter-spacing: 0;
}
/*slider boton*/
.container--slidercard__buttom--text{
    color: white;
    font-family: Lexend;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 60px;
    height: 15px;
}
.container--cardSlider__title--textMain{
    font-family: Lexend;
    font-weight: 500;
    font-size: 16px;
    line-height: 16.8px;
    letter-spacing: 0px;
}