/*Styles PLP*/

.flexColChild--containerStyle__result--navigator :global(.vtex-checkbox__line-container){
    display: flex !important;
    flex-direction: row !important;

}
.flexColChild--containerStyle__result--navigator :global(.vtex-checkbox__label){
    width: auto;
    
}
 /*product summary shlef*/

.flexCol--sumamryShelf__col__image  {
    display: flex !important;
    align-items: center !important;
}
.flexColChild--sumamryShelf__col__image :global(.vtex-product-summary-2-x-image){
    max-width: 135px;
    height: auto;
}

.flexCol--sumamryShelf__col__information :global(.vtex-product-summary-2-x-nameContainer){
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: left;
}
.flexCol--sumamryShelf__col__information :global(.vtex-product-summary-2-x-priceContainer)
{
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 0px; 
    align-items: flex-start;
}

.flexColChild--sumamryShelf__col__information :global(.vtex-product-summary-2-x-brandName){
    font-family: "Lexend", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12.76px;
    letter-spacing: 0%;
    color: #1D2734;
    
}
.flexColChild--sumamryShelf__col__information  {
    text-align: left;
}

.flexColChild--sumamryShelf__col__information :global(.vtex-product-price-1-x-currencyContainer){
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 21.87px;
    letter-spacing: 0%;
    color: #1D2734;

}
.flexColChild--sumamryShelf__col__information :global(.vtex-product-summary-2-x-price_installmentContainer){
    display: none;
}
.flexRowContent--summaryShelf__rowEnvio{
    display: flex;
    justify-content: left;
    gap: 7px;
}
.imageElement--summary__shlef__style--logo--envio{
    width: 6.83px;
    height: 11.39px;
}
.flexColChild--containerStyle__result--products :global(.vtex-search-result-3-x-galleryItem--whole){
    padding: 0px;
    /*height: 106.3px;*/
}
.flexRowContent--migaPan__stylePlp{
    max-width: 1136px;
    margin: auto;
    padding: 0;
}
.flexRowContent--migaPan__stylePlp :global(.vtex-breadcrumb-1-x-container){
    padding: 0;
}
.flexRowContent--containerStyle__result--order--filter{
   max-width: 1136px;
   margin: auto;
   margin-top: 16px;
}
.flexRowContent--containerStyle__result--navigator--products{

    max-width: 1136px;
    margin: auto;
    gap: 74px;
}
/*Style navigator*/
.flexColChild--containerStyle__result--navigator{
    width: 184px;
    height: 516px;
    
}
.flexRow--containerStyle__result--navigator--products{
    margin-top: 40px;
}

