
/*STYLES PLP*/
.paragraph--global__plp--titleText{
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 248;
    color: #1D2734;
}
.paragraph--global__plp--amountText{
    font-family: "Lexend", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 289;
    color: #34301d;
 
}
.paragraph--global__plp--sumaryShlef-envioText{
    font-family: "Lexend", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12.76px;
    letter-spacing: 0px;
    color: #FA2080;
}
