
/*styles slider cards*/
.sliderLayoutContainer--home__sliderCard{
    width: 1,092px;
    height: 340px;
    gap: 24px;
}
.paginationDot--home__sliderCard{
    display: none;
}
.paginationDot--slider_products{
    display: none;
}

