.label{
    display: block;
}
.buttonLink :global(.vtex-button) :global(.vtex-button__label) .label {
   display: none;
   font-size: 0 !important;
}
.buttonLink :global(.vtex-button) :global(.vtex-button__label)::after{
    content: "Login";
    font-size: 16px;
    text-transform: capitalize;
    color: #FFFFFF;  
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 0%;  
}
.container{
    height: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    background-color: #1D2734;
}

/*iniciar sesion con contraseña y correo*/
.emailAndPasswordForm .formLinkContainer .forgotPasswordLink{
    font-size: 0;
}
.emailAndPasswordForm .formLinkContainer .forgotPasswordLink::before{
    content: "Forgot your password?";
    font-family: "Lexend", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0%;
    color: #0C2340;
}
.emailAndPasswordForm .formLinkContainer .forgotPasswordLink::after{
    content: " Reset password";
    font-family: "Lexend", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0%;
    color: #E56A54;
    text-decoration: underline;
}
.emailAndPasswordForm .formLinkContainer .dontHaveAccount{
    font-size: 0px;
    display: block;
}
.emailAndPasswordForm .formLinkContainer .dontHaveAccount::before{
    content: "Create an account";
    font-family: "Lexend", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1D2734;
}
.emailAndPasswordForm .formLinkContainer{
    justify-content: center;
}
.emailAndPasswordForm .formFooter{
    border: none;
}
.emailAndPasswordForm .inputContainerEmail{
    margin-bottom: 16px;
}

.emailAndPasswordForm .inputContainerPassword{
    margin-bottom: 16px;
}
.emailAndPasswordForm .formLinkContainer{
    margin-bottom: 24px;
}
.emailAndPasswordForm .formFooter{
    margin-bottom: 8px;
}
.emailAndPasswordForm .sendButton :global(.vtex-button){
    background-color: #1D2734; 
}
.formFooter .sendButton :global(.vtex-button):hover{
    transform: scale(1.1); 
    background-color: #1D2734; 
}
.emailAndPasswordForm .sendButton :global(.vtex-button__label) :local(span){
    font-size: 0;
}
.emailAndPasswordForm .sendButton :global(.vtex-button__label)::after{
    content: "Login";
    font-family: "Lexend", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: initial;
    color: #ffffff;
}
.emailAndPasswordForm .sendButton :global(.vtex-button){
    border: 1px solid #1D2734;
}
.emailAndPasswordForm .formFooter{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}
/*recuperar clave*/
.content--beginCreatePass .emailForm .inputContainerEmail{
    margin-bottom: 16px;
    
}

.content--beginCreatePass .emailForm .formFooter{
    border: none;
}

.emailForm .sendButton :global(.vtex-button){
    background-color: #1D2734;
    border: 1px solid #1D2734;
    color: #ffffff;
}

.sendButton{
    margin: 0;
    width: 100% !important;
}
.sendButton :global(.vtex-button){
    width: 100%;
}

/*reset your password*/

.content--recoveryPassword .forgotPasswordForm .formSubtitle{
    font-size: 0;
    margin-top: 8px;
    margin-bottom: 16px;
}
.content--recoveryPassword .forgotPasswordForm .formSubtitle::after{
    display: inline-block;
    content: "Create a new password";
    font-family: "Lexend", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0%;
    color: #5E636E;
}
.content--recoveryPassword .forgotPasswordForm .formTitle{
    font-size: 0;
}
.content--recoveryPassword .forgotPasswordForm .formTitle::before{

    display: inline-block;
    margin-top: 16px;
    content: "RESET YOUR PASSWORD";
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1D2734;
}
.loginOptionsContainer{
    margin-left: 28px;
    margin-right: 27px;
  
}
/*reste your password*/
.content--recoveryPassword .forgotPasswordForm .inputContainerPassword :global(.pa2) :global(.mt2) :global(.c-danger){
    color: #1D2734;
}
.content--recoveryPassword .forgotPasswordForm .formFooter{
    border: none;
}
.content--recoveryPassword .forgotPasswordForm .formFooter .sendButton :global(.vtex-button) {
    background: #1D2734;
    border: 1px solid #1D2734;
   
}




.contentFormVisible .loginOptionsContainer .options .optionsList{
    display: flex;
    flex-direction: column;
}
.optionsList .optionsListItem:nth-child(2) {
    order: -2;
    
}

.content--accountOptions{
    border: 1px solid blue;
    width: 423px !important;
    height: auto !important;
    padding-left: 0;
    padding-right: 0;
}

.content--accountOptions .accountOptions .accountOptionsSectionTitle{
    font-size: 0;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 24px;
}
.content--accountOptions .accountOptions .accountOptionsSectionTitle::after{
    display: inline-block;
    content: "MY ACCOUNT";
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0C2340;
}
.accountOptions :local(a){
    margin-bottom: 8px;
    border-radius: 40px;
    color: #1D2734;
    border: 2px solid #1D2734;
}
.accountOptions :local(a):hover{
    color: #ffffff;
    background: #1D2734;
}
.accountOptions .logoutButton{
    
    font-size: 0;
}
.accountOptions .logoutButton::after{
    font-size: 0 !important;
}
.accountOptions .logoutButton::before{
    display: inline-block;
    content: "Log out" !important;
    font-family: "Lexend", sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 100%;
    letter-spacing: 0%;
    color: #E31616;
}


.customOAuthOptionBtn {
    display: none;
}

.loginOptionsContainer .optionsSticky .formTitle{
    
    font-size: 0;
}
.loginOptionsContainer .optionsSticky .formTitle::after{
    
    margin-top: 16px;
    display: inline-block;
    content: "LOG IN";
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    font-weight: 300 ;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0C2340;
}


.emailVerification .formTitle{
    font-size: 0;
}
.emailVerification .formTitle::after{
    margin-top: 16px;
    margin-bottom: 16px;
    display: inline-block;
    content: "VERIFY YOUR E-MAIL";
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    font-weight: 300 ;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0C2340;
}
.emailAndPasswordForm .formTitle{
    font-size: 0;
} 
.emailAndPasswordForm .formTitle::after{
    margin-top: 16px;
    margin-bottom: 24px;
    display: inline-block !important;
    content: "LOG IN" !important;
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    font-weight: 300 ;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0C2340;
} 

.accessCodeOptionBtn :global(.vtex-button) :global(.vtex-button__label){
    font-size: 0;
}
.accessCodeOptionBtn :global(.vtex-button) :global(.vtex-button__label)::after{

    display: inline-block ;
    content: "Receive access code by email" ;
    font-family: "Lexend", sans-serif;
    font-size: 14px;
    font-weight: 400 ;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1D2734;
    text-transform: none;
}
.accessCodeOptionBtn :global(.vtex-button){

    border-radius: 40px;
    border: 1px solid #1D2734;
    align-items: center;
    background-color: #ffffff;
}


.emailPasswordOptionBtn :global(.vtex-button) :global(.vtex-button__label){
    font-size: 0;
}
.emailPasswordOptionBtn :global(.vtex-button) :global(.vtex-button__label)::after{

    display: inline-block ;
    content: "Continue with an e-mail and password" ;
    font-family: "Lexend", sans-serif;
    font-size: 14px;
    font-weight: 400 ;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1D2734;
    text-transform: none;
}
.emailPasswordOptionBtn :global(.vtex-button) {
    border-radius: 40px;
    border: 1px solid #1D2734;
    align-items: center;
    background-color: #ffffff;
 
}
.googleOptionBtn :global(.vtex-button) :global(.vtex-button__label) .oauthLabel{
    font-size: 0;
}
.googleOptionBtn :global(.vtex-button) :global(.vtex-button__label) .oauthLabel::after{

    display: inline-block ;
    content: "Continue with Google" ;
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    font-weight: 400 ;
    line-height: 100%;
    letter-spacing: 0%;
    color: #5E636E;
    text-transform: none;
}
.googleOptionBtn :global(.vtex-button) {
    border: 1px solid #AEBACE80;
    border-radius: 40px;
    align-items: center;
}
.facebookOptionBtn :global(.vtex-button) :global(.vtex-button__label) .oauthLabel{
    font-size: 0;
}
.facebookOptionBtn :global(.vtex-button) :global(.vtex-button__label) .oauthLabel::after{

    display: inline-block ;
    content: "Continue with Facebook" ;
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    font-weight: 400 ;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
    text-transform: none;
}
.facebookOptionBtn :global(.vtex-button) {
    border-radius: 40px;
    background-color: #1877F2;
    border: 1px solid #1877F2;
    align-items: center;
}

.facebookOptionBtn :global(.vtex-button) :global(.vtex-button__label) :local(svg){

    display: none;
}
.facebookOptionBtn :global(.vtex-button) :global(.vtex-button__label)::before{
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(/arquivos/logo_facebook.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.inputContainerEmail :global(.vtex-input) :global(.vtex-input-prefix__group ){
    border: 1px solid #1D2734;
    border-radius: 40px;
}
.inputContainerEmail :global(.vtex-input) :global(.vtex-input-prefix__group ) :global(.vtex-styleguide-9-x-input)::placeholder{
    font-family: "Lexend", sans-serif;
    font-size: 14px;
    font-weight: 400 ;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1D2734;

}
.inputContainerPassword :global(.vtex-input) :global(.vtex-input-prefix__group ){
    border: 1px solid #1D2734;
    border-radius: 40px;
}
.inputContainerPassword :global(.vtex-input) :global(.vtex-input-prefix__group ) :global(.vtex-styleguide-9-x-input)::placeholder{
    font-family: "Lexend", sans-serif;
    font-size: 14px;
    font-weight: 400 ;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1D2734;

}

.emailAndPasswordForm .formFooter .sendButton :global(.vtex-button){
    border-radius: 40px !important;
    border: 1px solid #1D2734;
}

.emailVerification .formFooter .sendButton :global(.vtex-button){
    border-radius: 40px !important;
    margin-bottom: 12px;
    border: 1px solid #1D2734;
}

.inputContainerAccessCode :global(.vtex-input) :global(.vtex-input-prefix__group ) :global(.vtex-styleguide-9-x-input)::placeholder{
    font-family: "Lexend", sans-serif;
    font-size: 14px;
    font-weight: 400 ;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1D2734;
    
}
.inputContainerAccessCode :global(.vtex-input) :global(.vtex-input-prefix__group ){
    border-radius: 40px !important;
    border: 1px solid #1D2734;
}
@media (min-width: 1025px){
   .label{
        font-size: 0;
        padding: 0;
   }
   .label::after{
        content: "Login";
        font-size: 16px;
        text-transform: capitalize;
        color: #FFFFFF;  
        font-family: "Lexend", sans-serif;
        font-weight: 300;
        line-height: 100%;
        letter-spacing: 0%;  
    }
    .portalWrapper--global__header-main--login .customOAuthOptionBtn{
        display: none;
    }
    .portalWrapper--global__header-main--login .formTitle{
        font-family: "Lexend", sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 100%;
        letter-spacing: 0%;
        color: #0C2340;
        
    }
    .portalWrapper--global__header-main--login .accessCodeOptionBtn :local(button){
        font-family: "Lexend", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0%;
        color: #1D2734;
        text-transform: none;
        border: 1px solid #1D2734 ;
    }
    .portalWrapper--global__header-main--login .emailPasswordOptionBtn :local(button){
        
        font-family: "Lexend", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0%;
        color: #1D2734;
        text-transform: none;
        border: 1px solid #1D2734 ;
    }
    .portalWrapper--global__header-main--login .emailPasswordOptionBtn :local(button)::after{
        font-family: "Lexend", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0%;
        color: #1D2734;
        text-transform: none;
        border: 1px solid #1D2734 ;
    }
    .portalWrapper--global__header-main--login :global(.vtex-button){
        border-radius: 40px;
        background-color: #f5f4f6;
        
    }
    .portalWrapper--global__header-main--login .facebookOptionBtn :local(button){
        font-family: "Lexend", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0%;
        color: #ffffff;
        text-transform: none;
        background-color: #1877F2;
    }
    .portalWrapper--global__header-main--login .googleOptionBtn :local(button){
        font-family: "Lexend", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0%;
        color: #5E636E;
        text-transform: none;
        border: 1px solid #D7DCE7;
        background-color: #FFFFFF;
    }
    
    
  
    .facebookOptionBtn :global(.vtex-button) :global(.vtex-button__label) .oauthLabel{
        margin-left: 12px;
    }
    .portalWrapper--global__header-main--login :global(.vtex-input-prefix__group){
        border-radius: 40px;
        border: 1px solid #1D2734;
        /*width: 368px;*/
    }
    .portalWrapper--global__header-main--login :global(.vtex-styleguide-9-x-noAppearance)::placeholder{
        
        font-family: "Lexend", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0%;
        color: #1D2734; 
    }
    .emailAndPasswordForm .eyeSightIcon--global__header-main--login{
        display: none;
    }
    .loginOptionsContainer{
        margin-left: 28px;
        margin-right: 27px;

    }

    .emailAndPasswordForm .formTitle::after{
        font-size: 0;
    } 
    .emailVerification .formTitle::after{
        font-size: 0;
        margin-bottom: 0;
    }






    .content{
        width: 423px !important;
        position: relative;
        display: flex !important;
        padding-top: 0 !important;
    }
    .contentForm{
        min-width: 100% ;
    }
    .backButton{
        position: absolute;
        left: 28px;
        top: 16px;
    }
    .backButton :global(.vtex-button) {
        background: transparent;
    }
    .backButton :global(.vtex-button__label){
       display: none;
    }
    .backButton :global(.vtex-button)::after{
        content: "";
        display: inline-block;
        width: 24px;
        height:24px;
        background-image: url("/arquivos/back.svg");
        background-repeat: no-repeat;    
        background-position: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .content{
        border: 3px solid green !important;
        margin: 0;
    }
   
 }
