.sliderLayoutContainer--slider_products{
    max-width: 1136px;
    margin: auto;
    height: 378px;
}
.caretIcon--home__sliderCard{
    display: none;
}
.sliderLeftArrow--home__sliderCard::after{
    content: "";
    display: inline-block;
    width: 24px;
    height:24px;
    background-image: url("/arquivos/nav-arrow--right.svg");
}
.sliderRightArrow--home__sliderCard::after{
    content: "";
    display: inline-block;
    width: 24px;
    height:24px;
    background-image: url("/arquivos/nav-arrow.svg");
}
.caretIcon--slider_products{
    display: none;
}
.sliderLeftArrow--slider_products::after{
    content: "";
    display: inline-block;
    width: 24px;
    height:24px;
    background-image: url("/arquivos/nav-arrow--right.svg");
}
.sliderRightArrow--slider_products::after{
    content: "";
    display: inline-block;
    width: 24px;
    height:24px;
    background-image: url("/arquivos/nav-arrow.svg");
}
.sliderTrackContainer--home__sliderCard{
    padding: 0 20px;
}

.sliderLayoutContainer--slider_products{
    padding: 0 25px;
}