/*styles rich-text card*/
.container--global__home-sliderLayout--informationCard-wrapperTitle{
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24.88px;
    letter-spacing: 0;
}
.container--global__home-sliderLayout--informationCard-description{
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 14.52px;
    letter-spacing: 0;
}

/*slider boton*/
.container--global__home-sliderLayout--buton-text{
    color: white;
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 60px;
    height: 15px;
}
.container--global__home--titleMainText{
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16.8px;
    letter-spacing: 0px;
    margin-top: 40px;
    color: #1D2734;
}

@media (max-width: 1024px) {
    

}