
.flexRowContent--global__home-sliderLayout--wrapperDescrption{
    min-height: 90px;
    text-align: left;
}
.flexRowContent--global__home-sliderLayout--summaryShelf-envio-img{
    display: flex;
    justify-content: left;
    gap: 7px;
    padding: 0;
    margin: 0;
}
:global(.vtex-product-summary-2-x-priceContainer){

    display: flex;
    align-items: start;
    text-align: left;

}
:global(.vtex-product-summary-2-x-price_listPrice){
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 0;
}

:global(.vtex-product-summary-2-x-price_sellingPrice){

    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0;
    color: #1D2734;
}

.containerNormal--global__home-sliderLayoutProducts--productSumaryShelf{
    min-height: 380px;
}
.flexRowContent--global__home-sliderLayout--wrapperWishlist{
    display: flex;
    align-items: center;
}

.flexRowContent--global__home-sliderLayout--wrapperWishlist :global(.vtex-product-price-1-x-savings) {
    width: 84px;
    height: 32px;
    border-radius: 4px;
    background-color: #1D2734;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: white;
}

.flexRowContent--global__home-sliderLayout--wrapperWishlist :global(.vtex-wish-list-1-x-iconSize){
    display: none;
}
.flexRowContent--global__home-sliderLayout--wrapperWishlist :global(.vtex-button__label)::after{

    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("/arquivos/favorite.svg");
    background-repeat: no-repeat;
}
.flexRowContent--global__home-sliderLayout--wrapperWishlist :global(.vtex-button__label){
    padding: 0;
    height: auto;
}
.flexRowContent--global__home-sliderLayout--wrapperWishlist :global(.vtex-button){
    width: 44px;
    min-height: 32px;
}
.flexRowContent--global__home-sliderLayout--wrapperWishlist :global(.vtex-product-price-1-x-savingsPercentage)::after{
    content: "OFF";
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: white;
    margin-left: 5px;
}
:global(.vtex-product-highlights-2-x-productHighlightWrapper){
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 0;
    color: #FA2080;
    margin-left: 5px;
    display: flex;
    justify-content: left;
    gap: 7px;
    height: 15px;
   
}
:global(.vtex-product-highlights-2-x-productHighlightWrapper)::after{
    content: "";
    display: inline-block;
    width: 9px;
    height: 15px;
    background-image: url("/arquivos/flash.svg");
    background-repeat: no-repeat;
}

@media (max-width: 1024px){
    :global(.vtex-store-components-3-x-container){
        padding: 0;
        
    }
}
